:root {
    --orange-color: rgb(255, 147, 6);
}

body {
    background: linear-gradient(to right, black, rgb(245, 208, 0), rgb(255, 147, 6));
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.folder {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 8px;
    background-color: var(--orange-color);
    width: 400px;   
    height: 600px;
    text-align: center;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 100px;
    border-radius: 30px;
    border: 3px dashed black;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    padding-right: 10px;
    padding-left: 10px;
    scrollbar-width: none;
    margin-left: -1000px;
    margin-top: 100px;
    padding-bottom: 20px;
}

.folder_a {
    display: flex;
    width: 90%;
    height: 50px;
    border-radius: 30px;
    background-color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 15px;
    flex-shrink: 0;
    border: 2px dashed var(--orange-color);
    
}

#createfolder {
    margin-left: -1000px;
    margin-top: 100px;
    gap: 10px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

#folder_name1 {
    background-color: black;
    color: white;
    font-weight: bold;
    width: 380px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid rgb(255, 147, 6);
    font-size: 20px;
    padding-right: 5px;
    padding-left: 5px;
}

#button {
    background-color: black;
    color: white;
    font-weight: bold;
    width: 170px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid rgb(255, 147, 6);
    font-size: 20px;
    
}

#button:hover {
    background-color: red;

}

#folder_name1, #button {
    -webkit-appearance: none;
    appearance: none;
    box-sizing: border-box;
    font-family: inherit;
    line-height: normal;
    outline: none;
}






.folder_a_text {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    color: var(--orange-color);
    font-weight: bold;
    text-decoration: none;
    font-size: 23px;
}

#YourFolderText {
    flex-shrink: 0;
    align-self: center;
    font-size: 50px;
    margin-top: -80px;
    overflow: hidden;
    white-space: nowrap;
    clip-path: inset(0 100% 0 0);
    animation: typing 3s steps(12) infinite;
    color: white;
    text-align: center;
}

@keyframes typing {
    to {
        clip-path: inset(0 -30px 0 0);
    }
}



/* Delete panel */

.hidden {
    display: none;
}

#toggle_delete_panel {

}

#delete_panel.hidden {
    display: none;
}

#delete_panel {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--orange-color);
    border-radius: 30px;
    border: 3px dashed black;
    width: 200px;
    height: 200px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    gap: 5px;
    margin-top: -600px;
    margin-left: 400px;
}

.delete_icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    color: white;
    background-color: black;
    width: 90%;
    height: 50px;
    gap: 5px;
    border-radius: 30px;
}

#text_delete {
    font-size: 25px;
    color: white;
}

#toggle_delete_panel {
    background-color: black;
    color: white;
    font-weight: bold;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid rgb(255, 147, 6);
    font-size: 20px;
    margin-left: -830px;
    gap: 5px;
    margin-top: -50px;
}
